.container {
    margin: auto;
    width: 350px;
    height: 590px;
    background-color: rgb(255, 139, 177);
    border-radius: 20px;
    padding: 15px 20px;
    display: flex;
    flex-direction: column;
    flex-direction: center;
    align-items: center;
    box-shadow: 10px 10px 0 0 rgb(112, 112, 255);
    max-width: 100%;
}

.show {
    width: 100%;
    height: 130px;
    background-color: white;
    border-radius: 10px;
    border: 5px solid rgb(112, 112, 255);
    display: flex; 
    align-items: end;
    justify-content: space-around;
    flex-direction: column;
    margin-bottom: 20px;
}

.show p {
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(206, 137, 137);
    margin: 0px 15px 10px 10px;
}

.show span {
    font-size: 70px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(87, 26, 26);
    margin: 0px 15px 0px 0px;
}

.control {
    display: flex;
    flex-flow: wrap;
    gap: 16px;
}

button {
    width: 75px;
    height: 75px;
    border-radius: 10px;
    color: rgb(78, 9, 9);
    box-shadow: 5px 5px 0 0 rgb(112, 112, 255);
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-style: none;
}

.spacial-btn {
    width: 166px;
}